.grid {
    margin: 0;
    padding: 0.8rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 3.5rem);
    grid-column-gap: 0;
    grid-row-gap: 0.2rem;
    justify-content: space-between;
}

.element {
    display: block;
    text-align: center;
}

.button {
    --padding-start: 0.6rem;
    --padding-end: 0.6rem;
    --padding-top: 0.6rem;
    --padding-bottom: 0.6rem;
}
