.label {
    display: flex;
    text-align: center;
    align-items: center;
}

.picker {
    --ion-grid-padding: 0;
}

.noStartPadding {
    padding-inline-start: 0;
}

.noEndPadding {
    padding-inline-end: 0;
}